*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
} /* set-up full website */
html{
    scroll-behavior: smooth;
}
.header {
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
} /* setting the background image */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}/* aligning the navigation buttons */
    
.nav-links{
    flex: 2;
    text-align: right;
    background-color: transparent;
} /* move nav buttons to top right */

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    background-color: transparent;
}/* creating a box around the nav buttons*/

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 2.3vh;
    font-style:inherit;
    background-color: transparent;
}/* removing the underline to the link, making text white */

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #56A5A6;
    display: block;
    margin: auto;
    transition: 0.5s;
} /* creating animattion code for the udnerline effect under nav buttons*/

.nav-links ul li:hover::after{
    width: 100%;
    color: #0099FF;
} /* colour and design for animated object */

.text-box{
    width: 90%;
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
} /*center the welcome text in the middle of page with white text */

h1 {
   font-size: 80px;  
   background-color: transparent;
}/*sizing the welcome text "HI, My Name is Guntaas!*/

.text-box p{
    font-size: 24px;
    background-color: transparent;
    padding-top: 20px;
 /*text size for animated "typewriter effect */
}
.second{
    background-color: rgba(0, 0, 0, 0.87);
    padding-bottom: 160px;
}/*black background*/
.about{
    width: 90%;
    margin: auto;
    text-align: left;
    padding-top: 130px;
    padding-left: 10px;
    top: 40px;
    color: #fff;
}/* About section setup*/
h2{
    font-size: 8vh;
    line-height: 1.5;
}/* reactive font for "about me"*/
.description{
    width: 90%;
    margin: auto;
    line-height: 2;
    color: rgba(255, 255, 255, 0.486);
    text-align: left;
    padding-top: 0px;
    padding-left: 10px;
    top: 40px;
    word-wrap: break-word;
}/* reactive font for "description*/
.description a{
    color: #56A5A6;
    text-decoration: none;
}/* links are turquiose*/
.description a:hover{
    color:rgb(255, 255, 255)
}/* link animation*/

p{
    font-size: 2.5vmin;
}/* reactive font for body*/

.picRight{
    float:right;
    max-width: 50%;
    height: 50%;
    width: 50%;
    margin-left:20px;
    transition: transform .2s;
    filter: grayscale(40%);
}

@media(max-width: 975px) { 
    .picRight{ 
      display: none; 
    }
  }
    
/* fintech picture before hover*/
.picRight:hover{
    opacity: 100%;
    transform: scale(1.05);
    filter: grayscale(0%);
}/* after hover*/
