*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header {
    background-image: url(./compute-ea4c57a4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
    
.nav-links{
    flex: 2;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0099FF;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
    color: #0099FF;
}
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
h1 {
   font-size: 62px;  
}
.text-box p{
    
    font-size: 20px;
}
                            .type {
                              display:inline-block;
                            }
                            .type > span {
                              display:grid;
                              overflow:hidden
                              height:1.3em;
                              vertical-align:bottom;
                            }
                            .type span span {
                              width:0%;
                              max-width:max-content;
                              vertical-align:bottom;
                              overflow:hidden
                              height:inherit;
                              word-break:break-all;
                              animation:
                                c 1.0s infinite steps(1),  
                                t 2s linear infinite alternate,
                                m 12s steps(3) infinite;
                            }
                            .type span span:before {
                              content:" ";
                              display:inline-block;
                            }
                            @keyframes t{
                              90%,100% {width:100%}
                            }
                            @keyframes c{
                              0%,100%{box-shadow:5px 0 0 #0000}
                              50%    {box-shadow:5px 0 0 #0099FF}
                            }
                            @keyframes m{
                              100% {transform:translateY(-300%)}
                            }
